/* Main Page */

html, body {
  margin: -11px 0 0 0;
  height: 100%;
  width: 100%;
  line-height: 1.5;
  box-sizing: border-box;
}

body, .hero-container {
  font-family: 'Nunito', sans-serif;
  background: white;
}

.root, .app {
  height: 100%;
}

/* Hero Component */

.hero-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.hero-image-container {
  width: 100%;
  border-radius: 0;
  background-color: #ebf1f4;
}

.hero-logo {
  padding: 10px;
}

.hero-logo a {
  text-decoration: none;
  color: #272643;
  font-size: 25px;
  font-weight: 500;
}

.hero-logo a:hover {
  text-decoration: none;
}

.hero-button {
  background-color: #272643;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 150px;
  padding: 10px;
}

.hero-button a {
  color: #fff;
  text-decoration: none;
}

.hero-button a:hover {
  color: #fff;
  text-decoration: none;
}

.hero-image img {
  width: 100%;
  max-width: 100%;
}

.hero-text {
  width: 100%;
  text-align: center;
  padding-top: 200px;
}

.hero-header-text {
  font-size: 30px;
  color: #c8cfd9;
  padding: 10px;
}

.hero-sub-header-text {
  font-size: 18px;
  padding: 10px;
}

/* Book Component */

.books-container {
  width: 100%;
}

.book-header-text {
  text-align: center;
  color: #272643;
  padding: 10px;
  background-color: #c8cfd9;
}

.book-main-container {
  display: flex;
  flex-flow: column;
}

.book-shelf {
  display: inherit;
  flex-flow: column;
}

.book-grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.book {
  width: 20%;
  margin: 1%;
  padding: 10px;
  border: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.book-shelf-changer {
  padding: 10px 10px 10px 0;
}

.book-shelf-title {
  padding: 0 0 0 10px;
  color: #000000b0;
}

.book-title {
  color: #000000b0;
  padding: 5px 5px 5px 0;
}

.book-authors {
  color: #000000b0;
  padding: 5px 5px 5px 0;
}

/* Search Component */

.search-container {
  width: 100%;
}

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #272643;
  background-image: url('../images/icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
  outline: 0;
}

.open-search a:hover {
  background-color: #272643;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('../images/icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-results {
  width: 100%;
  margin: 5rem 0 0 0;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width: 901px) {
  .hero-container {
    flex-flow: row;
  }
  .hero-image-container {
    width: 60%;
    background-color: #ebf1f4;
    border-radius: 0 0 0 0;
  }
  .hero-text {
    width: 50%;
  }
}